
   body {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 100vh;
      overflow: hidden;
       background-image: url("agua.jpg"); 
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    input {
  margin-top: 2rem;
}
input::placeholder {
  font-weight: bold;
  opacity: 1;

}

    #text-container {
      text-align: center;
      width: 100%;
      top: 0;
    }

    #text-container2 {
      text-align: center;
      width: 100%;
      top: 1%;
    }

    #text {
      font-weight: bold;
      font-size: 24px;
      opacity: 0;
      animation: fade-in 3s forwards;
    }

    #text2 {
      font-weight: italic;
      font-size: 8px;
      opacity: 0;
      animation: fade-in 3.5s forwards;
    }

    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    /* Estilos para el botón de música */
    #musicButton {
      position: fixed;
      bottom: 60px;
      right: 20px;
      padding: 10px 20px;
      background-color: green;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    #musicButton:hover {
      background-color: darkblue;
    }

    /* Estilos para el botón de siguiente página */
    #nextPageButton {
      position: fixed;
      bottom: 20px;
      right: 20px;
      padding: 10px 20px;
      background-color: Darkblue;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    #nextPageButton:hover {
      background-color: Green;
    }
.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

h2{
  color: #ffffff;
}
resultado.textContent{
  color: #ffffff;
}